// Base Colors
$white: #ffffff;
$black: #000000;
$link: #418ad6;

// Warm Greys
$warmGrey1: #F6F6F2;
$warmGrey2: #EDEDE5;
$warmGrey3: #CFCEC7;
$warmGrey4: #B9B9AF;
$warmGrey5: #908F88;
$warmGrey6: #716F67;
$warmGrey7: #52504A;
$warmGrey8: #33302B;

// Company Blues
$lightBlue: #448FEA;
$darkBlue: #004595;